.data-list-item{
	transition: all 0.5s ease-in-out;
}

.preview{
	min-height: 500px;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 500px;
    overflow-y: auto;
}

#bar{
	width: 0;
}

#alert{
	display: none;
}

.file-item{
	float: none;
	display: inline-block;
}